.nav-main {
    height: 3rem;
    display: flex;
    justify-content: space-between;
}

.nav-left{
    
    align-items: center;
    display: flex;
    gap: 3rem;
    
}
.nav-left a {
    margin-left: -1rem;
    text-decoration: none;
    font-weight: 600;
    font-size: x-large;
    color: var(--black);
}
.nav-right {
    
    display: flex;
    align-items: center;
}
.nav-list {
    
    flex:10;
}
.nav-list ul {
    z-index: 1;
    display: flex;
    gap: 4rem;
    margin-right: 4rem;
}
.nav-list ul :hover {
    cursor: pointer;
    color: var(--orange);
}
.button {
    border-radius: 34px;
    border:none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    background: linear-gradient(180deg,#fdc50f 26.71%,#fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251,161,40,0,0.42);
}

.button:hover {
    cursor: pointer;
    background: white;
    color:var(--orange);
    border: 1px solid var(--orange);
}
.hidden{
    visibility: hidden;
}
/* 
.collapse{
    margin-top: 1rem;
    float: right;
    display: none;
} */
.menu-block {
    height: 20rem;
    background-color: gray;
}
.collapse1 {
    border-radius: 2px;
    padding: 0.8rem;
    margin-left: -4rem;
    border: 3px solid var(--black);
    gap: 0.6rem;
    display: flex;
    flex-direction: column;
    background-color: gray;
}
.bar {
    visibility: hidden;
}
@media screen and (max-width:480px){ 
    .nav-right {
       display: none;
    }
    .hidden {
        border-radius: 0.5rem;
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -5rem;
        margin-top: 2.6rem;
        background-color: var(--orange);
        padding-left:1rem;
        padding-right: 1rem;
        width: 7rem;
        border-radius: 1px solid black;
    }
    
    .hidden > Link :hover {
       color: white;
    }
    .bar {
        visibility: visible;
        margin-left: 2rem;
       margin-top: 0.6em;
    }
    
}