.intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.i-left {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}
.i-name {
    display: flex;
    flex-direction: column;
}
.i-name :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}



.i-name :nth-child(3) {
    font-weight:100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
}
.button {
    
    width: 6rem;
    height: 2rem;
    border-radius: 34px;
    border:none;
    color: white;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
    background: linear-gradient(180deg,#fdc50f 26.71%,#fb982f 99.36%);
    box-shadow: 0px 20px 24px 3px rgba(251,161,40,0,0.42);
}
.button:hover {
    cursor: pointer;
    background: white;
    color:var(--orange);
    border: 1px solid var(--orange);
}
.i-icons {
    margin-left: -2rem;
    z-index: 1;
    display: flex;
    align-items: center;
}
.i-icons * {
   transform: scale(0.5); 
}
.i-icons * :hover {
    cursor: pointer;
}
.i-right {
    flex: 1;
    position: relative;

}
.i-right * {
    position: absolute;
    z-index: 1 ;
}
.i-right :nth-child(1) {
    transform: scale(0.69);
    left: -15%;
    top: -9%;
    z-index: 1;
    
}
.i-right :nth-child(2) {
    /* z-index: -2; */
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
}
.i-right :nth-child(3) {
    /* z-index: -1; */
    height: 20rem;
     /* transform: rotate(20deg); */
     top: 1.7rem;
     left: 7rem;
}
.i-right :nth-child(4) {
    transform: scale(0.6);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
}
.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: -18px;
    left: 56%;
    filter: blur(72px);
}
.button-m {
    margin-left: -5rem;
}
.first-card {
    top: -4%;
    left: 50%;
}
.second-card {
    top: 18rem;
    left: 2rem;
}
@media screen and (max-width:480px){
    .intro {
        flex-direction: column;
    }
    .i-right {
        transform: scale(0.8);
        left: -3rem;
    }
    .i-right .blur {
        display: none;
    }
    .i-right :nth-last-child(3) {
       visibility: visible;
        
    }
    .vector {
        display: none;
    }
    
    .first-card{
        background-color: black;
        margin-top: -10rem;
        
    }
    .first-card {
        margin-top: -50px;
        margin-left: -60px;
    }
    .second-card {
        margin-left: -5rem;
    }
    .i-right :nth-child(2) { 
        /* margin-left: -6rem;
        z-index: -2; */
        display: none;
    }
    .i-right :nth-child(3) { 
        margin-left: -5rem;
        z-index: -1;
    }
    
   .i-icons {
    margin-left: -3rem;
    z-index: 1;
   }
   .button-m {
    z-index: 2;
   }
   .blur{
    display: none;
   }
}