.footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
}
.f-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    gap: 4rem;
    color: white;
}
.f-icons {
    display: flex;
    gap: 2rem;
}
.insta {
    display: flex;
    gap: 0.5rem;
}
.facebook {
    display: flex;
    gap: 0.5rem;
}
.github {
    display: flex;
    gap: 0.5rem;
}
.about {
    display: flex;
    flex-direction: column;
}
@media screen and (max-width:480px){
    .footer img {
        display: none;
    }
    .footer {
        margin-top: 18rem;
    }
    .name{
        color: var(--orange);
        
    }
    .f-icons {
        margin-top: -1rem;
    }
    .contact {
        color: var(--orange);
    }
    .about {
        margin-top: -34rem;
    }

}